<button (click)="isOpen = !isOpen" mat-raised-button color="accent">
  <mat-icon>add</mat-icon>Rent a movie
</button>
<form
  *ngIf="isOpen"
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(form.value)"
  novalidate
>
  <mat-form-field>
    <mat-label>Movie Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
    <app-date-picker><input matInput formControlName="body" /></app-date-picker> 
  <button
    color="accent"
    [disabled]="!form.valid"
    mat-raised-button
    type="submit"
  >
    <span>Rent</span>
  </button>
</form>